@import '@angular/material/prebuilt-themes/indigo-pink.css';
.vueInitiale {
    display: flexbox;
    flex-direction: column;
    align-content: center;
    
    height: 100vh;

    width: 40%;
  }

  .prioritylist{
    display: flexbox;
    width: 100%;
    flex-direction: column;
    align-items: center !important;
    

  }
   